* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-image: url(obrazky/Sprinkle.svg);
    background-size: 100%;
}

/*SCROLLBAR*/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background: red; 
}
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}

/*NAVBAR*/ 
#logo {
    height: 90px;
    transition: 0.3s;
}
.navbar {
    box-shadow: 2px 1px 12px 5px #6e6e6e4d;
    position: fixed;
    width: 100%;
    background-color: white;
    padding: 0px 15px;
    z-index: 100;
}

/*hamburger*/
.navbar-toggler-icon {
    background-image: url(obrazky/hamburger.svg);
}
.navbar-toggler {
    border: none;
    transform: rotate(90deg);
    transition: 0.25s;
}
.navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.collapsed {
    transform: rotate(0deg);
    transition: 0.25s;
}
.collapse {
    display: flex;
    justify-content: right;
}

.nav-link {
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0px 8px;
    color: black;
    position: relative;
    display: inline-block;
    padding: 8px;
}
.navbar-nav:hover .nav-link {
    color: rgb(135, 135, 135);
    transition: 0.3s;
}
.navbar:hover .nav-link:hover {
    color: black;
}
@media screen and (min-width:768px) { /*podciarknutie linku*/
    .navbar:hover .nav-link:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
    .nav-link::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2.2px;
        bottom: 8px;
        left: 0px;
        background-color: 
        #0087ca;
        transform-origin: bottom right;
        transition: transform 0.3s ease-out;
    }
}
.nadpis1 {
    font-size: 2.7rem;
    font-weight: 700;
    padding: 20px;
    color: rgb(31, 31, 31);
    letter-spacing: 3px;
    text-align: center;
}

/*ANIMACIE*/
/*zdola*/
.zobrazenie {
    position: relative;
    transform: translateY(65px);
    opacity: 0;
    transition: 1.3s all ease;
    transition-delay: 0.15s;
}
.zobrazenie.active{
    transform: translateY(0);
    opacity: 1;
}

/*zlava*/
.zobrazenie2 {
    position: relative;
    transform: translateX(-65px);
    opacity: 0;
    transition: 1.3s all ease;
}
.zobrazenie2.active2 {
    transform: translateX(0);
    opacity: 1;
}

/*zprava*/
.zobrazenie3 {
    position: relative;
    transform: translateX(65px);
    opacity: 0;
    transition: 1.3s all ease;
}
.zobrazenie3.active3 {
    transform: translateX(0);
    opacity: 1;
}

/*MAIN*/
.intro {
    background-color: white;
    overflow-x: hidden;
    height: 100vh;
    background-image: url(obrazky/budovapoz.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro h1 { 
    z-index: 5;
    font-size: 4rem;
    font-weight: 800;
    padding: 0px 20px;
    color: rgb(31, 31, 31);
    animation-name: zaciatok;
    animation-delay: 0.8s;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform: translateY(-50px);
    opacity: 0;
}
@keyframes zaciatok {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
.intro h1 span {
    color: red;
    font-size: 5rem;
    animation-name: zaciatok2;
    animation-delay: 1.5s;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes zaciatok2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.sipka {
    height: 50px;
    border: none;
    background-color: transparent;
    position: absolute;
    bottom: 8%;
    animation-name: sipka;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    z-index: 5;
} 
.sipka img {
    height: 55px;
}   

@keyframes sipka { /*animacia na sipku nech sa hybe hore dole*/
    0% {
        bottom: 8%;
    }
    25% {
        bottom: 10%;
    }
    75% {
        bottom: 10%;
    }
    100% {
        bottom: 8%;
    }
}

#nic {
    padding: 50px;
}

/*ikony*/
.ikona i {
    font-size: 8rem;
    text-align: center;
    color: rgb(0, 110, 255);
}
.ikona p {
    text-align: center;
    font-size: 2.1rem; 
    font-weight: 600;
    padding: 15px;
    color: rgb(31, 31, 31);
}

.p1 {
    text-align: center;
    font-size: 2rem;
    padding: 35px 30px;
    font-weight: 600;
}
.p1 i, .p2 i {
    font-size: 4rem;
    color: red;
}
.p1 span {
    color: red;
    font-weight: 700;
}
.p2 {
    text-align: center;
    font-size: 1.8rem;
    padding: 35px 30px;
    font-weight: 600;
    padding: 30px 150px;
}
.p2 a {
    color: red;
}
.p2 a:hover {
    color: rgb(200, 0, 0);
}

.mapa {
    margin-bottom: 30px;
    background-color: black;
}
.mapa iframe {
    height: 50vh;
    padding: 0px;
    opacity: 0.98;
}

.oznamy {
    padding: 20px 0px;
}

/*karticky*/
.karticky {
    display: flex;
    overflow-x: auto;

}
.karticka {
    float: left;
    width: 33.333%;
    margin: 10px;
}
.karticka img:hover {
    box-shadow: 4px 4px 0px 4px red;
    transition: 0.35s;
    cursor: pointer;
    filter: none;
    opacity: 1;
}
.karticka img {
    width: 100%;
    box-shadow: 8px 8px 0px 0px red;
    opacity: 0.75;
}
.karticka p {
    display: inline-block;
    position: relative;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px;
    bottom: 60px;
    color: white;
    background-color: rgb(0, 110, 255);
}

/*CENNÍK*/
.cennik {
    padding-top: 130px;
    overflow: hidden;
}
.cennik table caption {
    display: block;
    font-size: 1.6rem;
    font-weight: 600;
    color: red;
    padding-left: 10px;
}
.cennik table { 
    margin-bottom: 50px;
    width: 100%;
    backdrop-filter: blur(5px);
    box-shadow: 3px 3px 10px 2px rgba(168, 168, 168, 0.6);
    background-color: rgb(255, 255, 255, 0.4);
    border-radius: 0px;
}
.cennik table td, .cennik table th {
    padding: 4px 10px;
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(31, 31, 31);
}
.cennik table tr:nth-child(odd) {
    background-color: rgba(98, 98, 98, 0.2);
}
.cennik table .cena {
    font-weight: 700;
    display: flex;
    justify-content: right;
}
.tabulky {
    display: flex;
    justify-content: space-around;
}
.pravyc table:last-of-type {
    padding-bottom: 50px;
}
/*uprava tabuliek nech su prekne aj na mobile aj na pc*/
@media screen and (min-width:768px) {
    .lavyc table, .pravyc table {
        margin-top: 150px;
    }
    .pravyc table:first-of-type {
        margin-top: 250px;
    }
    .lavyc table:first-of-type {
        margin-top: 0px;
    }
    .pravyc table:first-of-type {
        opacity: 1;
        transform: none;
    }
    .cennik .pravyc table {
        box-shadow: -3px -3px 10px 2px rgba(168, 168, 168, 0.6);
    }
}
@media screen  and (max-width:768px){
    .lavyc table:nth-child(1), .lavyc table:nth-child(2) {
        opacity: 1;
        transform: none;
    }
}

.p3 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 1.5px;
}
/*ČASTI OŠOC*/
.casti {
    background-color: white;
}

/*carousel*/
.slideshow {
    padding: 0px;
    margin: 0px;
    background-color: black;
}
.carousel-item img{
    height: 100vh;
    object-fit: cover;
    opacity: 0.8;
}
.carousel-caption {
    bottom: 15%;
    left: 0px;
    right: 0px;
}
.carousel-item h5 {
    font-size: 2.5rem;
    font-weight: 700;
    backdrop-filter: blur(1px);
    background: radial-gradient(circle, rgba(0, 110, 255, 0.6) 0%, rgba(0, 110, 255, 0.4) 20%, rgba(255, 0, 0, 0) 100%);
    padding: 15px;
    color: white;
    letter-spacing: 2px;
}
.carousel-control-next-icon {
    position: absolute;
    right: 20px;
}
.carousel-control-prev-icon {
    position: absolute;
    left: 20px;
}  
.text1 {
    color: black;
    text-align: center;
    padding: 50px 0px;
    background-image: url(obrazky/modrezboku.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: top right;
}
.text1 p {
    text-align: justify;
    font-size: 1.1rem;
    font-weight: 400;
    padding: 0px 180px;
}
#jedna {
    bottom: 75px;
    position: absolute;
}

/*paralax efekt*/
.bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6, .bgimg-7 {
    position: relative;
    opacity: 0.6;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width:767px){
    .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6, .bgimg-7 {
        background-attachment: scroll;
    }
}
.bgimg-2 {
    background-image: url(obrazky/bazen.jpg);
    min-height: 350px;
}
.bgimg-3 {
    background-image: url(obrazky/fitko.jpg);
    min-height: 350px;
}
.bgimg-4 {
    background-image: url(obrazky/hokej.jpg);
    min-height: 350px;
}
.bgimg-5 {
    background-image: url(obrazky/ihrisko.jpg);
    min-height: 350px;
}
.bgimg-6 {
    background-image: url(obrazky/bowling.jpg);
    min-height: 350px;
}
.bgimg-7 {
    background-image: url(obrazky/izba.jpg);
    min-height: 350px;
} 

/*GALÉRIA*/
.galeria {
    padding-top: 130px;
}
.galeria img{
    padding: 10px 0px;
    opacity: 0.85;
}
.galeria img:hover {
    transform: scale(1.05);
    transition: 0.3s;
    opacity: 1;
}

/*KONTAKT*/
.kontakt {
    padding-top: 130px;
    padding-bottom: 40px;
}

.ikony {
    padding-top: 20px;
}
.ikony i {
    text-align: center;
    color: red;
    font-size: 8rem;
    padding: 10px;
}
.ikony p {
    text-align: center;
    font-size: 2.3rem;
    font-weight: 500;
    padding: 10px 0px 60px 0px;
}

/*formular*/
.formular {
    display: flex;
}
.formular form{
    padding: 0px 35px;
}
.formular label{
    margin-bottom:15px;
    position:relative;
}
.formular input, .formular textarea{
    width:100%;
    padding: 12px;
    margin-top:25px;
    border: none;
    border-radius: 6px;
    border-left: 3px solid red;
    border-bottom: 1px solid rgba(128, 128, 128, 0.344);
    background-color: rgb(245, 245, 245);
}
.formular input::placeholder, textarea::placeholder{
    opacity:0;
}
.formular input:focus, .formular textarea:focus {
    border-bottom: 3px solid red;
    border-left: none;
    outline: none;
    position: relative;
    animation-name: border;
    animation-duration: 0.2s;
} 

@keyframes border { /*animacia na border*/
    0% {
        border-bottom: 0px solid red;
        border-left: 3px solid red;
    }
    33% {
        border-bottom: 1px solid red;
        border-left: 2px solid red;
    }
    66% {
        border-bottom: 2px solid red;
        border-left: 1px solid red;
    }
    100% {
        border-bottom: 3px solid red;
        border-left: none;
    }

}

.formular span{
    position:absolute;
    top:0px;
    left:10px;
    opacity: 0.9;
    transform:translateY(25px);
    font-size:1.1rem;
    transition-duration: 300ms;
}
.formular .button{
    padding:15px;
    background: rgb(0, 110, 255);
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
    border: 3px solid rgb(0, 110, 255);
    cursor:pointer;
    border-radius:8px;
}
.formular .button:hover {
    transition: 0.35s;
    background-color: rgb(255, 255, 255, 0.6);
    border: 3px solid rgb(0, 110, 255);
    color: rgb(0, 110, 255);
}
.formular .button:focus {
    border: 3px solid rgb(0, 110, 255);
    animation: none;
}
/*vysunutie labelu*/
.formular label:focus-within > span,
.formular input:not(:placeholder-shown) + span, .formular textarea:not(:placeholder-shown) + span{
    color: rgb(0, 110, 255);
    transform:translateY(0px);
}


/*MEDIA SCREEN*/
@media screen and (max-width:1023px) {
    .ikona i {
        font-size: 6rem;
    }
    .ikona p {
        font-size: 2rem;
    }
    .p1 {
        font-size: 1.7rem;
    }
    .p2 {
        padding: 30px 90px;
        font-size: 1.5rem;
    }


    .cennik table td, .cennik table th {
        font-size: 0.9rem;
    }
    .cennik table caption {
        font-size: 1.2rem;
    }


    .text1 p {
        padding: 0px 100px;
        font-size: 1.1rem;
    }
    
    .ikony i {
        font-size: 6.5rem;
    }
    .ikony p {
        padding-bottom: 70px;
    }
}

@media screen and (max-width:767px) {
    .collapse {
        justify-content: start;
    }
    .logo {
        height: 100px;
    }
    .nadpis1 {
        font-size: 2.2rem;
    }
    .intro h1 {
        font-size: 2.8rem;
    }
    .intro h1 span {
        font-size: 3.5rem;
    }
    .ikona i {
        font-size: 4.5rem;
    }
    .ikona p{
        font-size: 1.5rem;
    }
    .p1 i, .p2 i {
        font-size: 3rem;
    }
    .p1 {
        font-size: 1.4rem;
    }
    .p2 {
        padding: 30px 40px;
        font-size: 1.4rem;
    }
    .mapa iframe {
        height: 45vh;
    }
    .karticky {
        scroll-snap-stop: always;
        scroll-snap-type: x mandatory;
    }
    .karticka {
        min-width: 90%;
        padding: 0px;
        scroll-snap-align: start;
    }
    .karticky::-webkit-scrollbar {
        display: none;
    }


    .cennik table td, .cennik table th {
        padding: 4px;
        font-size: 0.9rem;
    }
    .pravyc table:nth-child(2) {
        position: relative;
        transform: translateX(-150px);
        opacity: 0;
        transition: 1s all ease;
    }
    .pravyc table:nth-child(2).active3 {
        transform: translateX(0);
        opacity: 1;
    }
    .lavyc table:nth-child(3) {
        opacity: 1;
        transform: none;
    }
    .p3 {
        font-size: 1.3rem;
    }
    

    .text1 {
        padding: 30px 0px;
    }
    .text1 p {
        font-size: 1rem;
        padding: 0px 30px;
    }
    .text1 h1 {
        font-size: 1.8rem;
    }
    .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6, .bgimg-7 {
        min-height: 300px;
    }
    .bgimg-1 div h1 {
        font-size: 3rem;
    }
    .carousel-item h5 {
        font-size: 2rem;
    }


    .formular form{
        padding: 0px 15px;
    }
    .ikony p {
        padding-top: 0px;
    }
    .ikony i {
        font-size: 5rem;
    }
    .ikony p {
        padding-bottom: 20px;
    }
    .ikony {
        border-bottom: 2px solid black;
    }
}

@media screen and (max-width:424px) {
    .text1 {
        padding: 20px 0px;
    }
    .text1 p {
        padding: 0px 15px;
        font-size: 0.9rem;
    }
    .text1 h1 {
        font-size: 1.5rem;
    }
    .bgimg-1 div h1 {
        font-size: 2.4rem;
    }
    .p2 {
        padding: 30px 20px;
        font-size: 1.2rem;
    }
    .mapa iframe {
        height: 40vh;
    }


    .cennik table td, .cennik table th {
        font-size: 0.8rem;
    }
}




/*FOOTER*/
.footer {
    margin: auto;
    width: 100%;
    background-color: rgb(58, 58, 58);
    display: flex;
    text-align: center;
}
.footer a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}
.footer p:first-of-type i {
    font-size: 2.2rem;
    padding: 20px 10px 0px 10px;
}
.fa-facebook:hover {
    color: rgb(0, 130, 255);
}
.fa-instagram:hover {
    background: -webkit-linear-gradient(45deg, rgb(240, 237, 51) 0%,rgb(230, 154, 60) 25%,rgb(237, 71, 96) 50%,rgb(204, 35, 102) 75%,rgb(188, 24, 136) 100%); 
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.fa-twitter:hover {
    color: rgb(0, 180, 255);
}
.footer p:last-of-type {
    font-size: 1rem;
    color: white;
}
/*jakubposivak-zadanie2*/