* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    background-color: rgb(230, 230, 230);
}

/*NAVBAR*/ 
.logo {
    height: 110px;
}
.navbar {
    border-bottom: 3px solid red;
    box-shadow: 2px 1px 10px 10px #6e6e6e4d;
    position: fixed;
    width: 100%;
    background-color: rgb(225, 225, 225);
    padding: 0px 15px;
    z-index:100 ;
}

.navbar-toggler-icon {
    background-image: url("obrazky/hamburger.svg");
}
.navbar-toggler {
    border: none;
}
.collapse {
    display: flex;
    justify-content: right;
}
.nav-link {
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0px 10px;
    padding: 0px;
    color: rgb(31, 31, 31);
    position: relative;
    display: inline-block;
}
.nav-link:hover {
    color: rgb(255, 0, 0);
    
}
.nav-link::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 1px;
    left: 1px;
    background-color: rgb(0, 110, 255);
    transform-origin: bottom right;
    transition: transform 0.35s ease-out;
}
.nav-link:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*TEXTY*/
.nadpis1 {
    font-size: 2.6rem;
    font-weight: 700;
    padding: 10px 30px;
    color: rgb(31, 31, 31);
}

/*MAIN*/
.slideshow {
    padding: 0px;
    margin: 0px;
    background-color: black;
    box-shadow: 0px 3px 20px 2px rgb(137, 137, 137);
}
.carousel-item img{
    height: 100vh;
    object-fit: cover;
    opacity: 0.8;
}
.carousel-caption {
    bottom: 15%;
    left: 0px;
    right: 0px;
}
.carousel-item h5 {
    font-size: 2.2rem;
    font-weight: 700;
    background: radial-gradient(circle, rgba(255,0,0,0.6) 0%, rgba(255,0,0,0.4) 48%, rgba(255,0,0,0) 100%);
    padding: 15px;
    color: white;
}
.carousel-control-next-icon {
    position: absolute;
    right: 20px;
}
.carousel-control-prev-icon {
    position: absolute;
    left: 20px;
}
.sipka {
    height: 50px;
    border: none;
    background-color: transparent;
    position: absolute;
    bottom: 8%;
    animation-name: sipka;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
}   
@keyframes sipka {
    0% {bottom: 8%;}
    30% {bottom: 10%;}
    75% {bottom: 10%;}
    100% {bottom: 8%;}
}
.sipka img {
    height: 55px;
}

#nic {
    padding: 65px;
}

.ikona i {
    font-size: 8rem;
    text-align: center;
    color: rgb(0, 110, 255);
}
.ikona p {
    text-align: center;
    font-size: 2.1rem; 
    font-weight: 600;
    padding: 15px;
    color: rgb(31, 31, 31);
}
.p1 {
    text-align: center;
    font-size: 2rem;
    padding: 35px 30px;
    font-weight: 600;
}
.p1 i {
    font-size: 4rem;
    color: red;
}
.p1 span {
    color: red;
    font-weight: 700;
}
.p2 {
    text-align: center;
    font-size: 1.8rem;
    padding: 35px 30px;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: red;
    padding: 30px 120px;
}
.mapa {
    padding: 20px;
}
.mapa iframe {
    padding: 10px;
    height: 60vh;
    box-shadow: 0px 0px 20px 1px rgb(166, 166, 166);
}


/*CENNÍK*/
.cennik {
    padding-top: 150px;
    background-color: rgb(230, 230, 230);
}
.cennik table caption {
    display: block;
    font-size: 1.6rem;
    font-weight: 600;
    color: red;
}
.cennik .row {
    margin: auto;
}
.cennik table {
    margin-bottom: 25px;
}
.cennik table td, .cennik table th {
    padding: 4px 10px;
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(31, 31, 31);
}
.cena {
    text-align: right;
    text-decoration: underline;
    text-decoration-color: rgb(0, 110, 255);
    text-decoration-thickness: 1px;
}

/*Časti OŠOC*/
.casti {
    padding-top: 150px;
}
.casti .row {
    justify-content: center;
    text-align: justify;
    padding: 10px 0px;
}
.casti p {
    font-size: 1.2rem;
    font-weight: 400;
}
.casti p span {
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: rgb(0, 110, 255);
    font-size: 1.3rem;
}
.casti p i {
    font-size: 0.5rem;
    vertical-align: middle;
    padding-right: 5px;
    color: rgb(0, 110, 255);
}


/*MEDIA SCREEN*/
@media screen and (max-width:767px) {
    .collapse {
        justify-content: start;
    }
    .nadpis1 {
        font-size: 1.8rem;
    }
    .cennik .row {
        padding: 0px 40px;
    }
    .cennik table td, .cennik table th {
        padding: 4px;
        font-size: 0.9rem;
    }
    .cennik table {
        border-top: 0.5px solid rgb(0, 110, 255);
    }
    .prvyr table:first-child {
        border: none;
    }
    .logo {
        height: 100px;
    }
    .prazdny {
        display: none;
    }
    .ikona i {
        font-size: 4.5rem;
    }
    .ikona p{
        font-size: 1.5rem;
    }
    .p1 i {
        font-size: 3rem;
    }
    .p1 {
        font-size: 1.3rem;
    }
    .p2 {
        padding: 30px 60px;
        font-size: 1.6rem;
    }
    .casti p {
        font-size: 1.1rem;
    }
    .carousel-item h5 {
        font-size: 2rem;
        font-weight: 600;
    }
}

@media screen and (max-width:424px) {
    .cennik table td, .cennik table th {
        font-size: 0.8rem;
    }
    .cennik .row {
        padding: 0px;
    }
    .casti p {
        font-size: 1rem;
    }
    .casti p span {
        font-size: 1.1rem;
    }
}

@media screen and (max-width:1023px) {
    .cennik table td, .cennik table th {
        font-size: 0.9rem;
    }
    .cennik table caption {
        font-size: 1.2rem;
    }
    .ikona i {
        font-size: 6rem;
    }
    .p1 {
        font-size: 1.7rem;
    }
    .p2 {
        padding: 30px 20px;
        font-size: 1.3rem;
    }
}


/*FOOTER*/

.footer {
    margin: auto;
    width: 100%;
    height: 100px;  
    background-color: rgb(0, 110, 255);
}