* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    background-color: rgb(230, 230, 230);
}

/*NAVBAR*/ 
.logo {
    height: 120px;
}
.logo:hover {
    transform: scale(1.1);
    transition: 0.4s;
}
.navbar {
    border-bottom: 3px solid red;
    box-shadow: 2px 1px 10px 10px #6e6e6e4d;
    position: fixed;
    width: 100%;
    background-color: rgb(225, 225, 225);
    padding: 0px 15px;
    z-index:100 ;
}

.navbar-toggler-icon {
    background-image: url("obrazky/hamburger.svg");
}
.navbar-toggler {
    border: none;
}
.collapse {
    display: flex;
    justify-content: right;
}
.nav-link {
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0px 10px;
    text-decoration: underline;
    text-decoration-color: rgb(0, 110, 255);
    color: rgb(31, 31, 31)
}
.nav-link:hover {
    transform: scale(1.1);
    transition: 0.4s;
    color: rgb(96, 96, 96);
    text-decoration-thickness: 2px;
}

/*TEXTY*/
.nadpis1 {
    font-size: 2.6rem;
    font-weight: 700;
    padding: 10px 30px;
    color: rgb(31, 31, 31);
}

/*MAIN*/
.slideshow {
    padding: 0px;
    margin: 0px;
    background-color: black;
    box-shadow: 0px 3px 20px 2px rgb(137, 137, 137);
}
.carousel-item img{
    height: 100vh;
    object-fit: cover;
    opacity: 0.8;
}
.carousel-caption {
    bottom: 15%;
    left: 0px;
    right: 0px;
}
.carousel-item h5 {
    font-size: 2rem;
    font-weight: 600;
    background-color: rgb(255, 0, 0, 0.5);
    padding: 15px;
    backdrop-filter: blur(6px);
}
.carousel-control-next-icon {
    position: absolute;
    right: 20px;
}
.carousel-control-prev-icon {
    position: absolute;
    left: 20px;
}
.sipka {
    height: 50px;
    border: none;
    background-color: transparent;
    position: absolute;
    bottom: 11%;
}
.sipka img {
    height: 55px;
}

#nic {
    padding: 70px;
}

.ikona i {
    font-size: 8rem;
    text-align: center;
    color: rgb(0, 110, 255);
}
.ikona p {
    text-align: center;
    font-size: 2.1rem; 
    font-weight: 600;
    padding: 15px;
    color: rgb(31, 31, 31);
}
.p1 {
    text-align: center;
    font-size: 2rem;
    padding: 25px 30px;
    font-weight: 600;
}
.p1 i {
    font-size: 4rem;
    color: red;
}
.p1 span {
    color: red;
    font-weight: 700;
}
.mapa {
    padding: 20px;
}
.mapa iframe {
    padding: 10px;
    height: 60vh;
    box-shadow: 0px 0px 20px 1px rgb(166, 166, 166);
}


/*CENNÍK*/
.cennik {
    padding-top: 150px;
    background-color: rgb(230, 230, 230);
}
.cennik table caption {
    display: block;
    font-size: 1.6rem;
    font-weight: 600;
    color: red;
}
.cennik .row {
    margin: auto;
}
.cennik table {
    margin-bottom: 25px;
}
.cennik table td, .cennik table th {
    padding: 4px 10px;
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(31, 31, 31);
}
.cena {
    text-align: right;
    text-decoration: underline;
    text-decoration-color: rgb(0, 110, 255);
    text-decoration-thickness: 1px;
}





/*MEDIA SCREEN*/
@media screen and (max-width:767px) {
    .collapse {
        justify-content: start;
    }
    .nadpis1 {
        font-size: 1.8rem;
    }
    .cennik .row {
        padding: 0px 40px;
    }
    .cennik table td, .cennik table th {
        padding: 4px;
        font-size: 0.9rem;
    }
    .cennik table {
        border-top: 0.5px solid rgb(0, 110, 255);
    }
    .prvyr table:first-child {
        border: none;
    }
    .logo {
        height: 100px;
    }
    .prazdny {
        display: none;
    }
    .ikona i {
        font-size: 4.5rem;
    }
    .ikona p{
        font-size: 1.5rem;
    }
    .p1 i {
        font-size: 3rem;
    }
    .p1 {
        font-size: 1.3rem;
    }
}

@media screen and (max-width:424px) {
    .cennik table td, .cennik table th {
        font-size: 0.8rem;
    }
    .cennik .row {
        padding: 0px;
    }
}

@media screen and (max-width:1023px) {
    .cennik table td, .cennik table th {
        font-size: 0.9rem;
    }
    .cennik table caption {
        font-size: 1.2rem;
    }
    .ikona i {
        font-size: 6rem;
    }
    .p1 {
        font-size: 1.7rem;
    }
}


/*FOOTER*/

.footer {
    margin: auto;
    width: 100%;
    height: 100px;  
    background-color: rgb(0, 110, 255);
}